<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Расчет стоимости книг в магазине</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/index}">Книги и Магазины</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/users}">Пользователи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/list-books}">Книги</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/list-shops}">Магазины</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/book-cost-form}">Расчет</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/logout}">Выйти</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">

    <!-- Форма для выбора магазина -->

    <form th:action="@{/calculateBookCost}" method="post" th:object="${bookDto}">
        <div class="form-group" th:unless="${shopName != null}">
            <label for="shopName">Выберите магазин:</label>
            <select class="form-control" id="shopName" name="shopName" th:field="*{shopName}">
                <option th:each="shop : ${shops}" th:value="${shop.name}" th:text="${shop.name}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary" th:if="${shopName == null}">Рассчитать стоимость</button>
    </form>

    <!-- Результаты расчета стоимости -->

    <div th:if="${shopName != null}">
        <h3 th:text="'Результаты для магазина ' + ${shopName}"></h3>
        <p th:text="'Общая стоимость книг: ' + ${totalCost}"></p>
        <a th:href="@{/book-cost-form}" class="btn btn-primary">Назад</a>
    </div>
</div>

</body>

</html>